{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
{% endif %}
<h1>Create</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
    Title:
    <br>
    <input type="text" name="title"/>
    <br>
    Body::
    <br>
    <input type="textbox" name="body"/>
    <br>
    URL:
    <br>
    <input type="text" name="url"/>
    <br>
    Icon:
    <br>
    <input type="file" name="icon"/>
    <br>
    Image:
    <br>
    <input type="file" name="image"/>
    <br>
    <input class="btn btn-primary" type="submit" value="Add Product">
</form>
{% endblock %}





  title = models.CharField(max_length=200)
  url = models.CharField(max_length=500)
  pub_date = models.DateTimeField()
  votes_total = models.IntegerField(default =1)
  image = models.ImageField(upload_to='images/')
  icon = models.ImageField(upload_to='image/')
  body = models.CharField(max_length=1000)
  hunter = models.ForeignKey(User, on_delete=models.CASCADE)
